<h2>{{model.title}}</h2>
<h3>by {{#each model.author as |author|}}{{author.name}}{{/each}}</h3>

{{#if model.featuredImage}}
  <img src="{{model.featuredImage.file.url}}" alt="" />
{{/if}}

{{md-text text=model.body html=true linkify=true typographer=true}}


<button type="button" name="button" {{action 'changeContent' model}}>change it</button>
